.App {
  text-align: center;
}

.section-background {
  height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.about-button-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
  background-color: #282c34;
}

.title-quest-wrapper {
  box-sizing: border-box;
  padding-top: 150px;
}

.about-background {
  position: absolute;
  width: 90vh;
}

.quest-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.title-wrapper {
  display: flex;
}

.quest {
  text-align: center;
  font-size: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
