.App {
  text-align: center;
}

.section-background-comp1 {
  height: 100vh;
  /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-background-comp2 {
  height: 100vh;
  /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  /*background-image: url('./img/roxo2-01.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-button-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.title-quest-wrapper {
  box-sizing: border-box;
  padding-top: 30px;
}

.main-background {
  /* background-color: grey; */
  /* background-image: url('./img/roxo500.png'); */
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  font-size: 40px;
  /*margin-left: 10%; */
}

.btn-start {
  text-align: center;
}

.btn-start-wrapper {
  display: flex;
  justify-content: center;
}

.text1 {
  color: black;
  font-family: FjallaOne-Regular;
  font-size: 30px;
  padding-top: 10%;
  margin-left: 20%;
  width: 70vw;
  text-align: right;
}

.radio-total-wrapper {
  display: flex;
  color: white;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  background-color: orange;
}

.jorna-total-wrapper {
  display: flex;
  color: white;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  background-color: brown;
}

.teatro-total-wrapper {
  display: flex;
  color: white;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  background-color: royalblue;
}

.humana-total-wrapper {
  display: flex;
  color: white;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  background-color: rgb(81, 116, 53);
}

.about-background {
  box-sizing: border-box;
  font-size: 50px;
  padding: 20%;
  text-align: center;
  background-color: #282c3441;
  height: 100vh;
}

.align-right {
  width: 76%;
  text-align: right;
}

h1 {
  font-family: FjallaOne-Regular;
  font-size: 50px;
}

h3 {font-family: FjallaOne-Regular;
  font-size: 50px;
}

.quest-wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.quest {
  text-align: center;
  font-size: 30px;
}

ul {
  font-family: FjallaOne-Regular;
  list-style: none;
  text-align: left;
}

ul > li {
  background-color: #272727a4;
  margin-bottom: 5px;
  color: white;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border-radius: 10px;
}

ul > li:hover {
  background-color: #8d8d8d79;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button {
  background-color: #272727a4;
  font-family: FjallaOne-Regular;
  margin-bottom: 5px;
  color: white;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  border-radius: 10px;
  border: 0px;
  font-size: 15px;


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
